@page
@using LSSD.DistanceEdReg
@using LSSD.DistanceEdReg.Data
@using LSSD.DistanceEdReg.Util
@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model LSSDDistanceEdReg.WebFrontEnd.AllBySchoolModel
@{
    ViewData["Title"] = "AllBySchool";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";

    DistanceEdRequestRepository requestRepo = new DistanceEdRequestRepository(config.GetConnectionString(FrontendSettings.ConnectionStringName));

    // Get all requests in the whole system
    List<DistanceEdRequest> allRequests = requestRepo.GetAll();
}

<h1>All Requests by Base School</h1>

@foreach (string school in allRequests
    .Select(x => x.StudentBaseSchool)
    .Distinct()
    .OrderBy(school => school)
    )
{
    <h1>@school</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Student Name</th>
                <th>Student Number</th>
                <th>Mentor teacher</th>
                <th>Requested by</th>
            </tr>

        @foreach (DistanceEdRequest request in allRequests
            .Where(request => request.StudentBaseSchool == school)
            .OrderBy(request => request.DistanceEdClass.Name)
            .ThenBy(request => request.StudentName)
            )
        {
            <tr>
                <td>@request.DistanceEdClass.Name</td>
                <td>@request.StudentName</td>
                <td>@request.StudentNumber</td>
                <td>@request.MentorTeacherName</td>
                <td>@request.Requestor</td>
            </tr>
        }
    </table>

}


