@page
@using LSSD.DistanceEdReg
@using LSSD.DistanceEdReg.Data
@using LSSD.DistanceEdReg.Util
@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model LSSDDistanceEdReg.WebFrontEnd.AllEnrolmentsModel
@{
    ViewData["Title"] = "AllEnrolments";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";

    DistanceEdClassRepository classesRepo = new DistanceEdClassRepository(config.GetConnectionString(FrontendSettings.ConnectionStringName));    
    DistanceEdRequestRepository requestRepo = new DistanceEdRequestRepository(config.GetConnectionString(FrontendSettings.ConnectionStringName));        
    List<DistanceEdClass> allClasses = classesRepo.GetAllClasses().OrderBy(x => x.Name).ToList();
    List<DistanceEdRequest> allRequests = requestRepo.GetAll();
}

<h1>All Enrolments</h1>

@foreach(DistanceEdClass course in allClasses)
{
    <h2>@course.Name</h2>
    <p>
        <b>Starts:</b> @course.Starts.ToShortDateString(), <b>Ends:</b> @course.Ends.ToShortDateString(), <b>DBID:</b> @course.ID
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>Student Name</th>
                <th>Student Number</th>
                <th>Base School</th>
                <th>Mentor Teacher</th>
                <th>Requested by</th>
            </tr>
        </thead>
        @foreach (DistanceEdRequest req in allRequests.Where(request => request.CourseID == course.ID).OrderBy(request => request.StudentName))
        {
            <tr>
                <td>@req.ID</td>
                <td>@req.StudentName</td>
                <td>@req.StudentNumber</td>
                <td>@req.StudentBaseSchool</td>
                <td>@req.MentorTeacherName</td>
                <td>@req.Requestor</td>
            </tr>
        }
    </table>
    <br/><br/>
}


