@page "{Id=0}"
@using LSSD.DistanceEdReg
@using LSSD.DistanceEdReg.Data
@using LSSD.DistanceEdReg.Util
@using Microsoft.Extensions.Configuration;
@inject IConfiguration config
@model LSSDDistanceEdReg.WebFrontEnd.ByCourseModel
@{
    ViewData["Title"] = "ByCourse";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";

    DistanceEdClassRepository classesRepo = new DistanceEdClassRepository(config.GetConnectionString(FrontendSettings.ConnectionStringName));
    List<DistanceEdClass> allClasses = classesRepo.GetAllClasses().OrderBy(x => x.Name).ToList();

    string courseIdString = RouteData.Values["Id"].ToString() ?? string.Empty;
    int selectedCourseID = courseIdString.ToInt();
    List<DistanceEdRequest> selectedCourseRequests = new List<DistanceEdRequest>();

    DistanceEdClass selectedCourse = null;
    if (selectedCourseID > 0)
    {
        selectedCourse = classesRepo.Get(selectedCourseID);

        DistanceEdRequestRepository requestRepo = new DistanceEdRequestRepository(config.GetConnectionString(FrontendSettings.ConnectionStringName));
        selectedCourseRequests = requestRepo.GetForCourse(selectedCourse);
    }
}

<h1>Enrolments by Course</h1>
<br/>
<form method="post" asp-page-handler="FormSubmit" style="display: inline;">
    <select class="custom-select-lg" name="drpCourse">
        @foreach (DistanceEdClass dec in allClasses.OrderBy(x => x.Name))
        {
            <option value="@dec.ID">@dec.Name</option>
        }
    </select>
    <button class="btn btn-primary large" style="margin-left: 10px;">Go</button>
</form>
<br/><br/>

@if (selectedCourseID > 0)
{
    @if (selectedCourse != null)
    {
        <h1>@selectedCourse.Name</h1>
        <table border="0" class="table">
            <thead>
                <tr>
                    <th>Request ID</th>
                    <th>Student Name</th>
                    <th>Student Number</th>
                    <th>Base School</th>
                    <th>Mentor Teacher</th>
                    <th>Requested by</th>
                </tr>
            </thead>
            @foreach(DistanceEdRequest req in selectedCourseRequests.OrderBy(x => x.StudentName))
            {
                <tr>
                    <td>@req.ID</td>
                    <td>@req.StudentName</td>
                    <td>@req.StudentNumber</td>
                    <td>@req.StudentBaseSchool</td>
                    <td>@req.MentorTeacherName</td>
                    <td>@req.Requestor</td>
                </tr>
            }


        </table>
        }
    }
