@page
@using LSSD.DistanceEdReg
@using LSSD.DistanceEdReg.Data
@using LSSD.DistanceEdReg.Util
@model LSSDDistanceEdReg.WebFrontEnd.IndexModel
@inject IConfiguration config
@inject LSSDDistanceEdReg.WebFrontEnd.Services.DistanceEdClassService distanceEdClassService
@inject LSSDDistanceEdReg.WebFrontEnd.Services.DistanceEdRequestService distanceEdRequestService
@using Microsoft.Extensions.Configuration;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";

    List<DistanceEdClass> allClasses = distanceEdClassService.GetAll();
    List<DistanceEdClass> availableClasses = distanceEdClassService.GetAllAvailable(DateTime.Now);

    List<DistanceEdRequest> allRequests = distanceEdRequestService.GetAll();

    List<string> uniqueStudents = new List<string>();
    List<string> uniqueStudentsActive = new List<string>();

    Dictionary<int, DistanceEdClass> classDict = allClasses.ToDictionary(x => x.ID);
    Dictionary<int, List<DistanceEdRequest>> requestsByClass = new Dictionary<int, List<DistanceEdRequest>>();

    Dictionary<string, int> uniqueBaseSchools = new Dictionary<string, int>();
    Dictionary<string, int> uniqueMentorTeachers = new Dictionary<string, int>();

    foreach (DistanceEdClass dec in allClasses)
    {
        requestsByClass.Add(dec.ID, new List<DistanceEdRequest>());
    }

    foreach (DistanceEdRequest der in allRequests)
    {
        if (!uniqueStudents.Contains(der.StudentNumber))
        {
            uniqueStudents.Add(der.StudentNumber);
        }

        if ((der.DistanceEdClass.Starts <= DateTime.Now) && (der.DistanceEdClass.Ends >= DateTime.Now))
        {
            if (!uniqueStudentsActive.Contains(der.StudentNumber))
            {
                uniqueStudentsActive.Add(der.StudentNumber);
            }
        }

        if (requestsByClass.ContainsKey(der.CourseID))
        {
            requestsByClass[der.CourseID].Add(der);
        }

        if (!uniqueBaseSchools.ContainsKey(der.StudentBaseSchool))
        {
            uniqueBaseSchools.Add(der.StudentBaseSchool, 0);
        }
        uniqueBaseSchools[der.StudentBaseSchool]++;

        if (!uniqueMentorTeachers.ContainsKey(der.MentorTeacherName))
        {
            uniqueMentorTeachers.Add(der.MentorTeacherName, 0);
        }
        uniqueMentorTeachers[der.MentorTeacherName]++;
    }



}

<h1>Admin Index</h1>
<p>Use the links above to navigate the admin section</p>
<br />
<h2>Stats</h2>
<table border="0" class="table">
    <tr>
        <td>Total courses</td>
        <td>@allClasses.Count()</td>
    </tr>
    <tr>
        <td>Courses available for registration right now</td>
        <td>@availableClasses.Count()</td>
    </tr>
    <tr>
        <td>Total enrolments</td>
        <td>@allRequests.Count()</td>
    </tr>
    <tr>
        <td>Total unique students registered</td>
        <td>@uniqueStudents.Count()</td>
    </tr>
    <tr>
        <td>Total unique students in active courses</td>
        <td>@uniqueStudentsActive.Count()</td>
    </tr>
    <tr>
        <td>Total unique base schools</td>
        <td>@uniqueBaseSchools.Count()</td>
    </tr>
    <tr>
        <td>Total unique mentor teachers</td>
        <td>@uniqueMentorTeachers.Count()</td>
    </tr>
</table>
<br />
<h2>Enrolments by course</h2>
<br />
<h4>Active courses</h4>
<table border="0" class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Students Enrolled</th>
        </tr>
    </thead>

    @foreach (DistanceEdClass dec in allClasses.Where(x => x.Starts <= DateTime.Now && x.Ends >= DateTime.Now).OrderBy(x => x.Name))
    {
        <tr>
            <td>@dec.Name</td>
            <td>@requestsByClass[dec.ID].Count()</td>
        </tr>
    }

</table>
<br />
<h4>Completed Courses</h4>
<table border="0" class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Students Enrolled</th>
        </tr>
    </thead>

    @foreach (DistanceEdClass dec in allClasses.Where(x => x.Ends <= DateTime.Now).OrderBy(x => x.Name))
    {
        <tr>
            <td>@dec.Name</td>
            <td>@requestsByClass[dec.ID].Count()</td>
        </tr>
    }
</table>
<br />
<h2>Base Schools</h2>

<table class="table">
    <thead>
        <tr>
            <th>School</th>
            <th>Count</th>
        </tr>
    </thead>

    @foreach (KeyValuePair<string, int> school in uniqueBaseSchools.OrderBy(school => school.Key))
    {
        <tr>
            <td>@school.Key</td>
            <td>@school.Value</td>
        </tr>
    }

</table>

<br />
<h2>Mentor Teachers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Teacher</th>
            <th>Count</th>
        </tr>
    </thead>

    @foreach (KeyValuePair<string, int> teacher in uniqueMentorTeachers.OrderBy(teacher => teacher.Key))
    {
        <tr>
            <td>@teacher.Key</td>
            <td>@teacher.Value</td>
        </tr>
    }
</table>

